@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', 'Segoe UI', sans-serif;
    font-size: 16px;
}
.main_container {
    height: 100vh;
}
.main_container .header_a_container h1 {
    color: white;
    font-size: 1.8em;
    font-weight: 500; 
}
.header_a_container .mail {
    color: white;
    font-size: 1.06em;
    position: absolute;
    right: 0;
    margin-right: 130px;
  }
.header_a_container .mail i {
    margin-right: 6px;
  }
.header_a_container .log_out {
    text-decoration: none;
    color: #2193ef;
    position: absolute;
    right: 0;
    background-color: white;
    margin-top: 2px;
    top: 15px;
    margin-right: 40px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 4px 12px;
    transition: .2s;
    font-weight: 600;
    line-height: 1.3em;
    font-size: .9em;
  }
  .header_a_container .log_out:hover {
    color: white;
    background-color: #2193ef;
    border: 1px solid white;
  }
.main_container .header_a_container {
    background: #2193ef;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
table {
    width: 800px;
    border-radius: 4px;
    border-collapse: collapse;
    overflow: hidden;
}
th {
    background-color: #2193ef;
    color: white;
    font-weight: 500;
    text-align: center;
    height: 42px;   
    font-size: 1.1em;
}
td {
    background-color: #0e3e64;
    text-align: center;
    color: white;
    height: 40px;  
    font-weight: 400;
}
td a {
    text-decoration: none;
    color: rgb(68, 205, 250);
}