body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
  }
  .inner_row {
    width: 100%;
   
  }
  .inner_row2 {
    
  }
  
  .col-50 {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
 
  }
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 5px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  label {
    margin-bottom: 8px;
    display: block;
    font-size: .9em;
}
  
  .icon-container {
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #2193ef;
    color: white;
    height: 40px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #1b79c5;
  }
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  p {
    margin-top: 8px;
  }
  h3 {
    margin: 15px 0px;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .row {
      width: 80%;
    }
    
  }
  @media (max-width: 550px) {
    .row {
      width: 100%;
    }
    
  }
 