@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
     padding: 0;
     margin: 0;
     font-family: 'Noto Sans', sans-serif;
     font-size: 16px;
}
.heading h1 {
     font-size: 3.8em;
     font-weight: 500;
     color: black;
     text-align: center;
     padding: 40px 0px 54px 0px;
}
.main {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.users_rl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 428px;
    box-shadow: 0px 1px 3px 1px #aaaaaa;
}
.users_rl p { 
     font-size: 3.1em;
     position: relative;
     top: 15px;
}
.users_rl img {
     height: 64px;
     width: 64px;
}
.users_rl .btns {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     height: 120px;
     width: 100%;
}
.users_rl .btns a {
     text-decoration: none;
     color: black;
     height: 38.5px;
     width: 345px;
     text-align: center;
     line-height: 2.4em;
     background-color: #2193ef;
     border-radius: 50px;
     color: white;
}
.drivers_rl {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     height: 300px;
     width: 428px;
     box-shadow: 0px 1px 3px 1px #aaaaaa;
}
.drivers_rl p {
     font-size: 3.1em;
     position: relative;
     top: 15px;
}
.drivers_rl img {
     height: 64px;
     width: 64px;
}
.drivers_rl .btns {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     height: 120px;
     width: 100%;
}
.drivers_rl .btns a {
     text-decoration: none;
     height: 38.5px;
     width: 345px;
     text-align: center;
     line-height: 2.4em;
     background-color: #2193ef;
     border-radius: 50px;
     color: white;
     font-size: 1em;
}
.adminLogin_container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 80px;
     height: 42px;
}

.adminLogin_container a {
     font-size: 1.1em;
     text-decoration: none;
     color: white;
     font-weight: 500;
     background-color: #2193ef;
     border: 1px solid #2193ef;
     border-radius: 50px;
     height: 35px !important;
     width: 150px;
     line-height: 2em;
     text-align: center;
     transition: .3s;
}
.adminLogin_container a:hover {
     color: #2193ef;
     background-color: white;
}
